:root {
    --duskyblue: #a1c9d0;
    --seablue: #6eacb7;
    --duskypink: #e2b7b9;
    --lightpink: #fdcece;
    --darkduskypink: #cc8084;
}
  
* {
    box-sizing: border-box;
}
body {
    color: var(--seablue);
    font-family: monospace;
    text-align: center;
}

nav {
    background-color: var(--lightpink);
    text-align: right;
}

header {
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
  
header,
footer {
    color: white;
    background-color: var(--darkduskypink);
}
  
aside {
    background-color: var(--duskyblue);
    color: darkred;
}
  
  a {
    text-decoration: none;
    /* color: var(--duskyblue); */
    color:darkblue;
  }
  
  a:hover {
    color: var(--seablue);
  }
  
  
  article section {
    background-color: var(--seablue);
    font-family: 'Poor Story', cursive;
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
  }
  
  
  #image {
    background: url("https://resize.hswstatic.com/w_907/gif/rabbits-crazy-march-1a.jpg");
    background-size: cover;
    background-position: -50px;
  }
  
  a::before,
  a::after {
    content: ' | ';
  }

  body {
    position: relative;
  }
